/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/fonts
/public/admin
/bootstrap/cache/*
/public/mix-manifest.json
/public/json
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.git
.idea

docker
.gitmodules
Makefile
